select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;       /* Remove default arrow */
   border: 0px;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
   font-size: 1.06rem;
   width: 10px;
   color: #f57f17;
   border-bottom: 1px dashed #f57f17;
   border-radius: 0%;
}

select:hover {
   color: #f57f17bb;
   border-bottom: 1px dashed #f57f17bb;
   cursor: pointer;
}

option {
   color: #000;
}

select:focus {
  outline: 0px;
}
.network_name {
  padding-left: 4px;
  position: absolute;
  left: -9999px
}
option {
  text-align-last: center;
  /* reset to left*/
}
